<div class="my-7 flex flex-col md:flex-row">
  <!-- Sidebar-->
  <aside
    class="w-full md:w-1/5 border-b-2 md:border-b-0 md:border-r-2"
    aria-label="Sidebar"
  >
    <h1 class="text-4xl font-bold">User Panel</h1>
    <div class="overflow-y-auto py-4 mr-3">
      <ul class="flex flex-row md:flex-col gap-2">
        <li>
          <a
            routerLink="/panel/list"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
          >
            My blogs
          </a>
        </li>
        <li>
          <a
            routerLink="/panel/add"
            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
          >
            Create blog
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- Content -->
  <div class="w-full md:w-4/5 mt-4 md:mt-0 md:ml-4">
    <h2 class="text-2xl font-semibold">{{page_title}}</h2>
    <div>
      <div
        class="w-full bg-lime-500 mt-2 mb-4 rounded p-1"
        *ngIf="status.type == 'success'"
      >
        <p class="text-center font-bold mb-1 text-white">{{ status.msg }}</p>
        <a
          class="flex justify-center font-bold cursor-pointer underline text-blue-900 hover:text-blue-700"
          routerLink="/panel"
          >See my blogs list</a
        >
      </div>
      <div
        class="w-full bg-red-400 mt-2 mb-4 rounded p-1"
        *ngIf="status.type == 'error'"
      >
        <p class="text-center font-bold text-white">{{ status.msg }}</p>
      </div>
      <form class="mt-4" #topicForm="ngForm" (ngSubmit)="onSubmit(topicForm)">
        <div class="mb-3">
          <label for="name" class="block font-bold">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Enter the topic's title"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-gray-300 focus:shadow-none"
            #title="ngModel"
            [(ngModel)]="topic.title"
            required
          />
          <small
            *ngIf="!title.valid && title.touched"
            class="text-red-800 font-bold"
            >Title isn't valid</small
          >
        </div>
        <div class="mb-3">
          <label for="name" class="block font-bold">Content</label>
          <textarea
            type="text"
            id="content"
            name="content"
            rows="3"
            placeholder="Enter the topic's content"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-gray-300 focus:shadow-none"
            #content="ngModel"
            [(ngModel)]="topic.content"
            required
          ></textarea>
          <small
            *ngIf="!content.valid && content.touched"
            class="text-red-800 font-bold"
            >Content isn't valid</small
          >
        </div>
        <div class="mb-3">
          <label for="name" class="block font-bold">Code</label>
          <textarea
            type="text"
            id="code"
            name="code"
            rows="10"
            placeholder="Enter the topic's code"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-gray-300 focus:shadow-none"
            #code="ngModel"
            [(ngModel)]="topic.code"
            required
          ></textarea>
          <small
            *ngIf="!code.valid && code.touched"
            class="text-red-800 font-bold"
            >Code isn't valid</small
          >
        </div>
        <div class="mb-3">
          <label for="name" class="block font-bold">Language</label>
          <input
            type="text"
            id="lang"
            name="lang"
            placeholder="Enter the topic's language"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-gray-300 focus:shadow-none"
            #lang="ngModel"
            [(ngModel)]="topic.lang"
            required
          />
          <small
            *ngIf="!lang.valid && lang.touched"
            class="text-red-800 font-bold"
            >Language isn't valid</small
          >
        </div>
        <input
          type="submit"
          value="{{ btnSubmit }}"
          class="mt-5 rounded w-full bg-lime-700 hover:bg-lime-600 px-4 py-3 cursor-pointer font-bold text-white disabled:opacity-25 disabled:cursor-default disabled:hover:bg-lime-700"
          [disabled]="topicForm.invalid"
        />
      </form>
    </div>
  </div>
</div>
